pkgbase = pgadmin4-desktop
	pkgdesc = The desktop user interface for pgAdmin. pgAdmin is the most popular and feature rich Open Source administration and development platform for PostgreSQL, the most advanced Open Source database in the world.
	pkgver = 9.10
	pkgrel = 2
	url = https://www.pgadmin.org/
	arch = x86_64
	license = PostgreSQL
	makedepends = nodejs
	makedepends = corepack
	makedepends = npm
	makedepends = wget
	makedepends = unzip
	makedepends = syft
	makedepends = patch
	depends = pgadmin4-server>=9.10-1
	depends = xdg-utils
	depends = python-dbus
	provides = pgadmin4-desktop
	source = pgadmin4-9.10.tar.gz::https://ftp.postgresql.org/pub/pgadmin/pgadmin4/v9.10/source/pgadmin4-9.10.tar.gz
	sha256sums = 479b7b34b25be53b28174d3b688cebf91869204bec75752e06f7de1634c41507

pkgname = pgadmin4-desktop
