pkgbase = pgadmin4-desktop
	pkgdesc = The desktop user interface for pgAdmin. pgAdmin is the most popular and feature rich Open Source administration and development platform for PostgreSQL, the most advanced Open Source database in the world.
	pkgver = 9.8
	pkgrel = 1
	url = https://www.pgadmin.org/
	arch = x86_64
	license = PostgreSQL
	depends = pgadmin4-server
	depends = xdg-utils
	depends = python-dbus
	provides = pgadmin4-desktop
	source = pgadmin4-desktop-9.8-x86_64.deb::https://ftp.postgresql.org/pub/pgadmin/pgadmin4/apt/plucky/dists/pgadmin4/main/binary-amd64/pgadmin4-desktop_9.8_amd64.deb
	sha256sums = b801feffb3047b99a183b1f101f3e4a86bad0cb6bdec739237cc8d4186d2a253

pkgname = pgadmin4-desktop
